/* general */

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Forum-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Forum;
  src: url("assets/fonts/Forum-Regular.ttf");
  font-weight: 400;
}

:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --white: #FFFFFF;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}

/* * {
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
} */

button,
input {
  border: none;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-family: Forum;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--white);
}

h2 {
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--white);
}

h3 {
    font-family: Forum;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--bg-dark);
}

p {
    font-family: Roboto;
}

.background-container {
    width: 1920px;
    margin: auto;
    background-color: inherit;
}

.container {
    width: 1440px;
    margin: auto;
}

/* header */

#header {
    background: var(--bg-dark);
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 199px;
    height: 33px;
    align-items: center;
    letter-spacing: 5px;
    padding-bottom: 7px;
}

.logo {
    width: 49px;
    height: 26px;
    background-image: url(./assets/logo.svg);
    margin-bottom: 15px;
}

#header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
}

.header-nav__list {
    display: flex;
    width: 775px;
    justify-content: space-between;
    max-width: 1440x;
}

.header-nav__list a {
    color: var(--white);
    font-family: Roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2px;
    transition: 1s;
}

.header-nav__list a:hover {
    color: rgba(157, 134, 101, 1);
}

.header-nav__list a:active {
    color: rgba(126, 108, 81, 1);
}

/* welcome section  */

#welcome {
    background: var(--bg-dark);
    position: relative;
}

#welcome .container {
    display: flex;
    padding-top: 52px;
    padding-bottom: 60px;
    position: relative;
}

.welcome-content {
    position: relative;
    display: flex;
    width: 440px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--bg-dark);
}

.welcome-content__tagline {
    width: 598px;
    height: 388px;
}

.welcome-image {
    position: relative;
    display: flex;
    width: 1000px;
    height: 750px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("../museum-fixed/assets/images/1.jpg");
}

.welcome-image img {
    position: absolute;
    z-index: -1;
}

#welcome h2 {
    width: 600px;
    position: absolute;
    z-index: 1;
    top: 150px;
}

.welcome-content__text {
    position: absolute;
    top: 358px;
    width: 600px;
    font-weight: 300;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 2px;
    color: var(--white);
}

.welcome-content__button {
    position: absolute;
    top: 463px;
    border-radius: 10px;
    width: 360px;
    height: 75px;
    background-color: #710707;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
}

.welcome-content__button:hover {
    background-color: rgba(157, 134, 101, 1);
    transition: 0.5s;
}

.welcome-slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    width: 600px;
    background-color: var(--bg-dark);
    position: absolute;
    bottom: 0px;
    left: 840px;
}

.welcome-slider__num {
    display: flex;
    padding-left: 15px;
    justify-content: space-around;
    width: 100px;
    height: 40px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: var(--white);
}

.welcome-slider__carousel {
    display: flex;
    width: 180px;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5px;
}

.welcome-slider__tap {
    display: flex;
    justify-content: space-around;
    width: 110px;
    height: 8px;
    cursor: pointer;
}

/* visitiing section */

#visit {
    height: 1266px;
    position: relative;
}

#visit .container {
    padding-top: 75px;
    padding-bottom: 75px;
}

#visit h2 {
    color: var(--font-gold);
}

.line {
    position: absolute;
    top: 190px;
    background-color: rgba(113, 7, 7, 1);
    border-bottom: 3px var(--dark-red) solid;
    width: 1440px;
    height: 3px;
}

.visit-content {
    position: absolute;
    top: 268px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 75px;
    padding-bottom: 75px;
}

.visit-content__card {
    position: relative;
    width: 440px;
    height: 424px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.visit-content h3 {
    position: absolute;
    top: 310px;
}

.short-line {
    position: absolute;
    top: 355px;
    background: rgba(113, 7, 7, 1);
    border: 1px var(--dark-red) solid;
    width: 300px;
    height: 2px;
    transition: 0.5s;
}

.visit-content__card:hover .short-line {
    width: 100%;
}

.visit-content__card-info, .visit-content__card-info-more {
    font-weight: 200;
    line-height: 100%;
    letter-spacing: 0%;
}

.visit-content__card-info {
    font-size: 22px;
    position: absolute;
    top: 370px;
}

.visit-content__card-info-more {
    font-size: 18px;
    text-transform: capitalize;
}

/* explore  section */

#explore {
    background: var(--bg-dark);
}

#explore .container {
    height: 865px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 89px;
}

.explore-content {
    position: relative;
    max-width: 660px;
    height: 500px;
    padding-top: 60px;
}

.explore-content__text {
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
    letter-spacing: 0%;
    text-transform: none;
    color:rgba(255, 255, 255, 1);
    margin-top: 25px;
}

.explore-content__text-wrapper {
    position: absolute;
    top: 155px;
}

#explore h2 {
    position: absolute;
    top: -15px;
}

.explore-content__img {
    max-height: 700px;
    position: relative;
}

.explore-img__before {
    background-image: url(../museum-fixed/assets/images/before.jpg);
    height: 700px;
    width: 440px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

.explore-img__after {
    background-image: url(../museum-fixed/assets/images/after.jpg);
    height: 700px;
    width: 720px;
    position: absolute;
    top: 0px;
    z-index: 1;
    overflow: hidden;
}

.explore-img__slider {
    z-index: 3;
    position: absolute;
    left: 420px;
}

.middle-line {
    width: 660px;
    height: 3px;
    background: rgba(113, 7, 7, 1);
    position: absolute;
    top: 100px;
}

/* video section */

#video h2 {
    color: var(--font-gold);
}

.video-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 73px;
    padding-bottom: 75px;
}

.video-content__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 77px;
}

.video-content__text {
    max-width: 720px;
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-top: 10px;
}

.video-content__more-mp4 {
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
}

.video-content__slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-content__slider-pagin {
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

/* gallery section */

#gallery {
    background: var(--bg-dark);
}

#gallery .background-container {
    padding-top: 75px;
}

#gallery .container {
    position: relative;
}

.gallery-content {
    height: 2035px;
    overflow: hidden;
    column-count: 3;
    column-gap: 32px;
    column-width: 30%;
    padding-top: 76px;
}

.gallery-content__column-1,
.gallery-content__column-2,
.gallery-content__column-3 {
    height: 2035px;
    overflow: hidden;
}

.gallery-content__column-1,
.gallery-content__column-3 {
    padding-top: 48px;
}

.gallery-content img {
    padding-bottom: 20px;
}

.gallery-gradient {
    position: absolute;
    bottom: 0px;
    width: 1440px;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

/* tickets section */

#tickets .container {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
}

#tickets h2 {
    color: var(--font-gold);
}

.tickets-content {
    display: grid;
    grid-template-columns: 6fr 4fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    padding-top: 100px;
}

.tickets-content__box p {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 5px;
    padding-left: 10px;
}

.tickets-content__type {
    height: 211px;
    width: 270px;
    padding-top: 25px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tickets-content__type-box {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 260px;
}

.tickets-content__type-box div {
    padding-right: 25px;
}

.tickets-content__type label {
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
}

.tickets-content__widget {
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.tickets-content__widget p {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 7px;
    padding-bottom: 13px;
}

.tickets-content__widget-type {
    width: 150px;
    height: 91px;
}

.minus, .plus {
    background-color: #FFFFFF;
}

input[type="radio"] {
  transform: scale(1.5);
}

.tickets-content__widget-button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 17px;
    margin-bottom: 12px;
    border: solid 3px;
    border-color: #000000;
}

.tickets-content__total {
    font-family: Roboto;
font-weight: 700;
font-size: 28px;
line-height: 100%;
letter-spacing: 1.65px;
padding-top: 25px;
padding-bottom: 65px;
width: 152px;
}

.tickets-content__widget-button input, button {
    height: 45px;
    width: 50px;
}

.tickets-content__widget-button input {
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tickets-content__total-button {
    width: 175px;
    height: 50px;
    border-radius: 4px;
    background-color: #030303;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
}

.tickets-content__total-button:hover {
    background-color: rgba(157, 134, 101, 1);
    color: #030303;
    transition: 0.5s;
}

.tickets-content__widget-amount {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 230px;
}

.tickets-content__img {
    background-image: url(./assets/images/ticket-section-img.jpg);
    height: 550px;
    width: 720px;
}

/* parallax section */

#parallax .background-container {
    height: 400px;
}

.parallax-content {
    background-image: url(./assets/images/parallax.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    /* height: 100vh; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* contacts section */

#contacts .background-container {
    background-color: #FFFFFF;
    position: relative;
    padding-bottom: 75px;
}

#contacts h2 {
    color: var(--font-gold);
}

#contacts .container {
    padding-top: 75px;
}

.contacts-content {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 95px;
    grid-row-gap: 0px;
    padding-top: 105px;
}

.contacts-content__list {
    height: 282px;
}

.contacts-content__list-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.contacts-content__list-title span:first-child {
    padding-bottom: 2px;
}

.contacts-content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 195px;
    padding-top: 40px;
}

.contacts-content__info p {
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
}

/* footer  */

#footer {
    background-color: var(--bg-dark);
    color: white;
    max-height: 392px;
}

#footer .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 85px;
    height: 260px;
}

#footer .header-nav__list {
    position: absolute;
    top: 90px;
    left: 340px;
    width: 510px;
    height: 151px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.footer__socials {
    position: absolute;
    top: 160px;
    right: 0px;
    height: 48px;
}

.footer__socials ul {
    width: 336px;
    height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  cursor: pointer;
}

.footer__socials ul li {
    display: inline;
}

.footer__socials div {
    height: 48px;
    width: 48px;
    border: solid 1px;
    border-color: rgba(102, 102, 102, 1);
    border-radius: 50px;
}

.youtube {
    background-image: url(./assets/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}

.instagram {
    background-image: url(./assets/instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}

.facebook {
    background-image: url(./assets/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}

.twitter {
    background-image: url(./assets/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}

.pinterest {
    background-image: url(./assets/pinterest.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}

.footer-line {
    background: rgba(102, 102, 102, 1);
    height: 3px;
}

.footer__string {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 127px;
    font-family: Roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}

.rolling-scopes {
    padding-left: 29px;
}

.year {
    padding-left: 10px;
}

.username {
    padding-right: 6px;
}